/* 
SINTEZIS classes basic style
use snt- (sintezis)prefix, eg .snt-main-content 
*/
/* Formated classes, following google style guide https://google.github.io/styleguide/htmlcssguide.xml */

/*********************
****** MAIN CSS ****** 
**********************/

/* elements styles */

a:hover { 
  border-color: #1990b2; 
  color: white; 
  text-decoration: none; 
}

p { 
  color: #DCDCDC; 
}
h1 { 
  color: #fff; 
}

h2 {
 color: #fff; 
}

h3 { 
  color: #1990b2; 
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
}

/*********************
*** GLOBAL CLASSES *** 
**********************/

.snt-body-bg {
  background-size: fill;
  overflow-x: hidden;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
}

.snt-button {  
  border: 2px solid rgba(255, 255, 255, .5);
  border-radius: 3px;
  color: white;
  float: left;
  padding: 7px 10px;
  text-transform: uppercase;
  width: auto;
}

/*navigation & menu*/
.snt-nav-bar { 
  background-color: #000;
  display: none;
  height: 80px;
  margin: 0 auto;
  position: fixed;
  top: 0;
  transition: opacity .25s ease-in;
  width: 100%;
  z-index: 100;
  -moz-transition: opacity .25s ease-in;
  -webkit-transition: opacity .25s ease-in;
}

.snt-logo { 
  float: left; 
  margin-left: 20px; color: #FFF; 
}

.snt-menu-icon {
  float: right;
  position: relative;
  z-index: 100;
  top: 1rem; 
  right: 10px;
  height: 50px;
  width: 50px;
  padding: 10px;
  border-radius: 100%;
  overflow: hidden;
  border:2px solid #1990b2;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: border-color 0.2s ease-in-out;
  transition: border-color 0.2s ease-in-out
}

.snt-menu-icon.active { 
  border: 2px solid white;
}

/*icon menu lines*/
.snt-menu-icon div {
  background-color: white;
  border:1px solid #000;
  display: block;
  height: 3px;
  left: 20%;
  right: 20%;
  position: absolute;
  -webkit-transition: 
    opacity 0.3s ease-in-out, 
    visibility 0.3s ease-in-out, 
    -webkit-transform 0.3s ease-in-out, 
    background-color 0.3s ease-in-out,
    border 0.3s ease-in-out;
  transition:
    opacity 0.3s ease-in-out, 
    visibility 0.3s ease-in-out, 
    transform 0.3s ease-in-out, 
    background-color 0.3s ease-in-out, 
    border 0.3s ease-in-out
}

.snt-menu-icon.active div {
  border: 0;
  background-color: #1990b2 ;
}

/*icon menu lines positions*/
.snt-menu-icon div[line='1']{
  top:30%;
}

.snt-menu-icon.active div[line='1'] {
  -webkit-transform:rotate(40deg);
  -ms-transform:rotate(40deg);
  transform:rotate(40deg);top:47%
}

.snt-menu-icon div[line='2']{
  top:45%;
}

.snt-menu-icon.active div[line='2'] {
  top:47%
  -webkit-transform:rotate(-40deg);
  -ms-transform:rotate(-40deg);
  transform:rotate(-40deg);
}

.snt-menu-icon div[line='3'] {
  top:60%;
}

.snt-menu-icon.active div[line='3'] { 
  opacity: 0;
  visibility: hidden
  -webkit-transform: translateY(10px);
  -ms-transform: translateY(10px);
  transform: translateY(10px);
}

.snt-menu-container {
  position: fixed;
  background: rgba(0,0,0,0.85);
  z-index: 50;
  overflow: auto;
  top: 0;
  left: 0;
  padding: 6em 0 1em 5em;
  height: 100%;
  width: 100%;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scale(0.8, 0.8);
  -ms-transform: scale(0.8, 0.8);
  transform:scale(0.8, 0.8);
  -webkit-transition: 
    opacity 0.3s ease-in-out, 
    visibility 0.3s ease-in-out, 
    -webkit-transform 0.3s ease-in-out;
  transition: 
    opacity 0.3s ease-in-out, 
    visibility 0.3s ease-in-out, 
    transform 0.3s ease-in-out;
  text-align: center;
}

.snt-menu-container.active {
  opacity: 1; 
  text-align: center;
  transform: scale(1, 1);
  visibility: visible;
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
}

.snt-menu {
  list-style: none;
  padding: 0;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 2em;
  line-height: 142%;
  -webkit-transform:translate(-50%, -50%);
  -ms-transform:translate(-50%, -50%);
  transform:translate(-50%, -50%)
}

.snt-menu a {
  color: white;
}
.snt-menu a:hover {
  color: #168fef;
}

.snt-footer{
  text-align: center;
}

/******************
**** HOME PAGE ****
******************/ 

/* layout, video title in full screen, image title on mobile */

.snt-home-body-bg {
  background: url('../img/home-bg.jpg') no-repeat center center fixed; 
}

.snt-home-container {
  position: relative;
}

.snt-main-title-container {
  background-color: black;
}

.snt-home-title-container{
  font-weight: bold;
  padding-bottom: 50px;
  padding-top: 60px;
}

/* treshold for detecting screen offset */
.snt-waypoint{
  margin-top: -150px;
  margin-bottom: 150px;
}

.snt-home-title-container h1 {
  text-align: center;
}

.snt-home-title-container h2 {
  text-align: center;
}

.snt-home-title-container h4 {
  color: #fff;
}

/* video title container */
.snt-video-md-container { 
  background-color: black; 
  height: 100vh; 
  margin: 0 auto;
}

/* image title container */
.snt-img-xs-container {

}

/* mobile title img */
.snt-home-title-img { 
  width: 100%;
}

/* down arrow */
.snt-arrow-down { 
  margin: 0 auto; 
  position: relative; 
  text-align: center;
  background-color: black;
}

.snt-arrow-down-png {
  margin-top: -100px;
  position: relative;  
}

.snt-home-content {
  color: white;
  min-height: 267px;
  padding: 40px 25px;
  position: relative;
}

.snt-home-content h3{
  font-size: 30px; 
}

.snt-home-content p {
  font-size: 20px; 
}

.snt-home-content-step-5 {
  padding: 0 25px 0 25px;
}

/* sintezis plc steps graph 1 - 6 */

.snt-graph-container {
  position: relative;
}

.snt-app-icon {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  border: solid medium #FFF;
  text-align: center;
  margin-top: 65px;
  margin-left: 180px;
}

.snt-nik-icon {
  background-image: url('../img/projects/nik.jpg');
  background-size: contain;
}
.snt-eventomate-icon {
  background-image: url('../img/projects/eventomate.jpg');
  background-size: contain;
}

.snt-fooc-icon {
  background-image: url('../img/projects/fooc.png');
  background-size: contain;
}

.snt-legacyapp-icon {
  background-image: url('../img/projects/legacyapp.jpg');
  background-size: contain;
}

.snt-belter-icon {
  background-image: url('../img/projects/belter.png');
  background-size: contain;
}

.snt-send-msg-icon {
  background-image: url('../img/projects/send-msg.png');
  background-size: contain;
  animation: pulsate 1s infinite alternate;
  cursor: pointer;
}

.snt-step-number-icon h1 {
  font-size: 45px;
  color: white;
}
 
.snt-line {
  background-color: #fff;
  height: 636px;
  opacity: 0.3;
  position: absolute;
  top:-70px;
  width: 2px;
}

.snt-tilt-left {
  right: 583px;
  transform: rotate(70deg);
  -webkit-transform: rotate(70deg); 
  -moz-transform: rotate(70deg);
}

.snt-tilt-right {
  left: 585px;
  transform: rotate(111deg);     
  -webkit-transform: rotate(111deg); 
  -moz-transform: rotate(111deg);
}

/* contact form */

.snt-contact-form-line {
  background-color: #fff;
  height: 110px;
  opacity: 0.3;
  position: absolute;
  right: 257px;
  top: -110px;
  width: 2px;
}

.snt-contact-form-container {
  border: 2px solid rgba(255, 255, 255, .5);
  border-radius: 5%;
  text-align: center;
  padding-bottom: 25px;
  display: none;
  opacity: 0;
}

.snt-contact-form-button {
  background-color: black;
  float: right;
}

/******************* 
**** ABOUT PAGE ****
*******************/

.snt-about-body-bg {
  background: url('../img/about-bg.png') no-repeat center center fixed; 
  background-color: black;
}

.snt-about-node-contanier {
  position: relative;
  margin-left: 100px;
  margin-top: 120px;
  max-width: 700px;
}

.snt-about-node-contanier p {
  margin-top: -55px;
  margin-left: 90px;
  width: 100%;
}

.snt-about-node {
  border-radius: 50%;
  height: 80px;
  width: 80px;
  border: solid medium #FFF;
  text-align: center;
  animation: pulsate 1s infinite alternate;
}

.snt-end-node {
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: white;
  margin-top: -38px;
  box-shadow: 0 0 40px #42bff4;
  border-radius: 50%;
}

.snt-pull-node-right {
  margin-left: 165px;
}

.snt-about-line {
  background-color: #fff;
  position: absolute;
  height: 1px;
  box-shadow: 0 0 20px #42bff4;
  left: 78px;
  margin-top: -35px
}

.snt-company-line {
  width: 700px;
}

.snt-ppl-line {
  width: 500px;
}

.snt-about-node-company {
  background-image: url('../img/team/sintezis-circle.png');
  background-position: center center;
  background-size: 80px;
  height: 80px;
  width: 80px;
}

.snt-end-node-company {
  left: 778px;
}

.snt-end-node-ppl {
  left: 578px;
}

.snt-about-node-pulse-delay-1 {
  animation-delay: 1s;
  background-position: center center;
  background-size: 80px;
}

.snt-about-node-pulse-delay-2 {
  animation-delay: 1.5s;
  background-position: center center;
  background-size: 80px;
}

.snt-about-node-pulse-delay-3 {
  animation-delay: 2s;
}

@keyframes pulsate {
    from { box-shadow: 0 0 10px blue; }
    to { box-shadow: 0 0 40px #42bff4; }
}

.dom-pic {
  background-image: url('../img/team/domagoj.png');
}

.simon-pic {
  background-image: url('../img/team/simun.png');
}

.tom-pic {
  background-image: url('../img/team/tomislav.jpg');
}

.zvone-pic {
  background-image: url('../img/team/zvone.jpg');
}

/******************** 
*** SERVICES PAGE ***
********************/

.snt-services-body-bg {
  background: url('../img/services-bg-1.png') no-repeat center center fixed; 
  background-color: black;
}

/* Hexagon test */

.hexagon {
  position: relative;
  width: 70px; 
  height: 40.41px;
  background-color: rgba(255, 255, 255, 0.0);
  margin: 20.21px 0;
  border-left: solid 2px #ffffff;
  border-right: solid 2px #ffffff;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 49.50px;
  height: 49.50px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 8.2513px;
}

.hexagon:before {
  top: -24.7487px;
  border-top: solid 2.8284px #ffffff;
  border-right: solid 2.8284px #ffffff;
}

.hexagon:after {
  bottom: -24.7487px;
  border-bottom: solid 2.8284px #ffffff;
  border-left: solid 2.8284px #ffffff;
}

.services-box {
  border: solid 1px white;
  padding: 25px 70px 25px 70px;
  border-radius: 6px;
  box-shadow: 0 0 20px #42bff4;
  background: rgba(0, 0, 0, 0.3);
}

.services-box h3 {
  margin: 0 auto;
}

.left-service-box {
  float: left;
  margin-top: 20px;
  margin-left: 70px
}

.right-service-box {
  float: right;
  margin-top: 90px;
}

.active-hex {
  display: none;
  position: relative;
  width: 36px;
  height: 36px;
  background-color: rgba(66, 191, 244, .7);
  box-shadow: 0 0 50px 20px #42bff4;
  border-radius: 18px;
  border: solid 1px rgba(66, 191, 244, .3);
  margin: 0 auto;
}


/**********************************
************* MOBILE **************
**********************************/

/*medium tablet*/
@media (max-width: 1024px) {

  
}

/* phablet */

@media (max-width: 525px) {

  /*load bg for mobile*/

  /*SO Fix*/
  body:before {
    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .snt-home-body-bg:before {
    background: url('../img/home-bg-mobile.jpg') no-repeat center center;
  }

  .snt-about-body-bg:before {
    background: url('../img/about-bg.png') no-repeat center center;
  }

  /*home page remove arrow down*/
  .snt-arrow-down {
    display: none;
  }

  .snt-app-icon {
    margin: 0 auto;
  }

  .snt-eventomate-icon, .snt-legacyapp-icon, .snt-belter-icon, .snt-send-msg-icon {
    margin-top: 50px;
  }
  /*home page remove border on contact*/
  .snt-contact-form-container {
    border: none;
  }

  .snt-about-node-contanier {
    margin-left: 0;
  }

  .snt-about-line {
    width: 77%;
  }
  .snt-about-node-contanier p {
    margin-left: 90px;
    width: 70%;
  }

}

/*phone*/
@media (max-width: 320px) {

  /*adjust nav bar height*/
  .snt-nav-bar {
    height: 60px;
  }

  .snt-menu-icon {
    top: 0.5rem;
  }
}
/* Formatted classes end */

/** UNFORMATTED AND UNKNOWN CODE FROM THIS POINT ON **/

.button{
	    /* display: inline-block; */
    width: auto;
    background-color: black;
    color: white;
    text-transform: uppercase;
    padding: 7px 10px;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 3px;
    -webkit-transition: background-color 0.2s ease-in-out;
    float: right;
}