
/* main CSS */
body{
	background-color: #000; 
}



p{color: #999;}
h1{color: #FFF;}
h2{color: #FFF;}
h3{ color: #168fef;}

.clear{ clear: both;}

.big-screens-first-page {height: 100vh; margin: 0 auto; background-color: black; }
.small-screen-first-page{}
.img-sintezis{ width: 100%;}

/*  arrow - main screen */
.arrow-down { position: relative; margin: 0 auto; text-align: center;}
.arrow-down-png {position: relative;  margin-top: -100px;}

/* main nav */
.waypoint{
	margin-top: -150px;
	margin-bottom: 150px;
}
.navigation-bar{ 
	margin: 0 auto;
	 width: 100%;
	 height: 80px;
	 background-color:#000;
	 z-index: 100;
	 top: 0;
	 position: fixed;
	 opacity: 0;
	 transition: opacity .25s ease-in;
   -moz-transition: opacity .25s ease-in;
   -webkit-transition: opacity .25s ease-in;
}
.navigation-bar-animate{
	opacity: 1;
}
.logo{float: left; margin-left: 20px; color: #FFF;}
.mobile-menu-icon{
	float: right;
	position:relative;
	z-index:100;
	top:1rem; 
	right:10px;
	height:50px;
	width:50px;
	padding:10px;
	border-radius:100%;
	overflow:hidden;
	border:2px solid #168fef;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	-webkit-transition:border-color 0.2s ease-in-out;transition:border-color 0.2s ease-in-out
}
.mobile-menu-icon div{
	position:absolute;
	left:20%;right:20%;
	height:3px;
	display:block;
	background-color:white;
	border:1px solid #000;
	-webkit-transition:opacity 0.3s ease-in-out, visibility 0.3s ease-in-out,
	 -webkit-transform 0.3s ease-in-out, background-color 0.3s ease-in-out,
	  border 0.3s ease-in-out;transition:opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, 
	  transform 0.3s ease-in-out, background-color 0.3s ease-in-out, border 0.3s ease-in-out
	}
.mobile-menu-icon div:nth-child(1){
	top:30%;
	-webkit-transform:rotate(0deg);
	-ms-transform:rotate(0deg);
	transform:rotate(0deg)}

.mobile-menu-icon div:nth-child(2){
	top:45%;
	-webkit-transform:rotate(0deg);
	-ms-transform:rotate(0deg);
	transform:rotate(0deg)}

.mobile-menu-icon div:nth-child(3){
	top:60%;-webkit-transform:translateY(0);
	-ms-transform:translateY(0);
	transform:translateY(0)
}
.mobile-menu-icon.active{border:2px solid white}
.mobile-menu-icon.active div{border:0;background-color:#168fef}
.mobile-menu-icon.active div:nth-child(1){-webkit-transform:rotate(40deg);-ms-transform:rotate(40deg);transform:rotate(40deg);top:47%}
.mobile-menu-icon.active div:nth-child(2){-webkit-transform:rotate(-40deg);-ms-transform:rotate(-40deg);transform:rotate(-40deg);top:47%}
.mobile-menu-icon.active div:nth-child(3){-webkit-transform:translateY(10px);-ms-transform:translateY(10px);transform:translateY(10px);opacity:0;visibility:hidden}

.mobile-menu{
	position:fixed;
	background:rgba(0,0,0,0.75);
	z-index:50;
	overflow:auto;
	top:0;left:0;
	padding:6em 0 1em 5em;
	height:100%;width:100%;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	opacity:0;
	visibility:hidden;
	-webkit-transform:scale(0.7, 0.7);
	-ms-transform:scale(0.7, 0.7);
	transform:scale(0.7, 0.7);
	-webkit-transition:opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
	transition:opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, transform 0.3s ease-in-out
}

/* main nav  links*/
.mobile-menu.active{
	-webkit-transform:scale(1, 1);
	-ms-transform:scale(1, 1);
	transform:scale(1, 1);
	opacity:1;visibility:visible
}
.mobile-menu ul{
	list-style:none;
	padding:0;
	text-transform:uppercase;
	position:absolute;
	top:50%;
	left:50%;
	font-size:2em;
	line-height:142%;
	-webkit-transform:translate(-50%, -50%);
	-ms-transform:translate(-50%, -50%);
	transform:translate(-50%, -50%)
}
.mobile-menu ul a{color:white}
.mobile-menu ul a:hover{color:#168fef}
.mobile-menu .mobile-menu-language{position:absolute;top:1em;right:1em;font-size:2em}
.mobile-menu .mobile-menu-language a{color:white}
.mobile-menu .mobile-menu-language a:hover,.mobile-menu .mobile-menu-language a.active{color:#168fef}
.mobile-menu .mobile-menu-language a:nth-child(2){margin-left:0.5em}


/* services */
.services-title{
	padding-top: 70px;
	text-align: center;
	font-weight: bold;
}

.services-text{
	padding: 25px;
	padding-top: 35px;

}

/* portfolio */
.portfolio-sintezs{}


/* footer */
footer{
	padding-top: 70px;
}

/* about */
.about-footer{
	padding: 25px;
}


.button{
	    /* display: inline-block; */
    width: auto;
    background-color: #168fef;
    color: white;
    text-transform: uppercase;
    padding: 7px 10px;
    border: 0;
    border-radius: 3px;
    -webkit-transition: background-color 0.2s ease-in-out;
    float: right;
    margin-right: 10px;
}

/* contact */
.contact-footer{
	padding: 25px;
}

/* © sintezis */
.footer-sintezis{
	text-align: center;
}